@font-face {
  font-family: "LED";
  src: url("../fonts/LED\ Dot-Matrix.ttf");
}

@font-face {
  font-family: "Trend";
  src: url("../fonts/Super\ Trend.ttf");
}
@font-face {
  font-family: "Campus";
  src: url("../fonts/CAMPUS.ttf");
}
